<div class="mdl-grid ">
    <div class='mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone'>
        <img class="avatar icon float-right contact-image no-bottom-margin" src="/assets/images/avatar.png">
    </div>
    <h4 class='mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone align-contact text-color-contact no-bottom-margin name-and-avatar right-align'>
        Daniel Stahl
    </h4>
</div>
<div class="mdl-grid no-padding-no-margin">
    <div class='mdl-cell mdl-cell--4-col contact-icon'>
        <a href='https://www.linkedin.com/profile/view?id=AAIAAAYja3AB_fq6IhUtF5CBw1yjTHheP8YIooE&trk=nav_responsive_tab_profile'>
            <img src='assets/icons/linkedingrey.svg' class='icon float-right'>
        </a>
    </div>
    <div class='mdl-cell mdl-cell--4-col contact-icon'>
        <a href='https://plus.google.com/u/0/+DanielStahl1138'>
            <img src='assets/icons/googleplusgrey.svg' class='icon float-right'>
        </a>
    </div>
    <div class='mdl-cell mdl-cell--4-col contact-icon'>
        <a href='https://github.com/phillyfan1138'>
            <img src='assets/icons/githubgrey.svg' class='icon float-right'>
        </a>
    </div>

</div>
