{{#each navs as |nav|}}
  {{#link-to nav.url class='mdl-navigation__link text-color-contact'}}{{nav.display}}<span class='hide right-align'><i class="material-icons">keyboard_arrow_right</i></span>{{/link-to}}
{{/each}}
