<button class="mdl-button text-color-contact mdl-color--grey-800 mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--icon">
  {{#if parametersAreShowing}}
    <i class="material-icons">arrow_upward</i>
  {{else}}
    {{#if showChart}}
      <i class="material-icons">arrow_back</i>
    {{else}}
      <i class="material-icons">arrow_downward</i>
    {{/if}}

  {{/if}}
</button>
