<button class="mdl-button text-color-contact mdl-color--grey-800 mdl-button--raised mdl-js-button mdl-js-ripple-effect">
  {{#if hasClicked}}
  Hide Model Parameters
  {{else}}
  Enter Model Parameters
  {{/if}}
</button>
