<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer mdl-color--grey-800 no-border">
       <!-- <span class="mdl-layout-title">-->
        <div class='mdl-color--grey-900'>
            {{avatar-contact}}
        </div>
        {{nav-bar}}
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {{outlet}}
        </div>
    </main>
</div>
