<div class='mdl-grid max-width'>
    <div id='summary-card' class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--8-col mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__title card-style " style="background:url('../assets/images/SingaporeSkyline-small.jpg') center / cover;">

      </div>
      <div class="mdl-card__supporting-text">
          <h2 class="mdl-card__title-text grey-font-800">Vision</h2>
        To be at the cutting edge of financial and technological progress by promoting and inventing innovations in application development, design architecture, and mathematical modeling.
      </div>
    </div>
</div>
<div class='mdl-grid max-width'>
    <div id='summary-card' class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--8-col mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__title card-style " style="background:url('../assets/images/backgroundsmall.jpg') center / cover;">

      </div>
      <div class="mdl-card__supporting-text">
          <h2 class="mdl-card__title-text grey-font-800">Summary</h2>
        I work for <a href='http://glsllc.com'  target="_blank">GLS</a> in portfolio analytics.  I have a masters degree in mathematical finance from the University of North Carolina Charlotte.  Previously I have worked as an internal auditor in quantitative analysis at BB&T ({{stock-price stock='NYSE:BBT'}}) and as a model developer and risk analyst at Uwharrie Capital Corp ({{stock-price stock='OTCMKTS:UWHR'}}).  I currently reside in Winston Salem, NC.
      </div>
    </div>
</div>
