<div class='vertical-space mdl-layout--small-screen-only'></div><!--this is to drop the card below the hamburger bar-->
<div class='mdl-grid max-width'>
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--8-col mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__supporting-text">
        This project shows how to compute the distribution of a credit portfolio of defaultable assets with stochastic PD and LGD. It includes full granularity and efficient computation.
      </div>
      {{credit-risk}}
    </div>
</div>
